<%- include('header') %>
    <ul>
        <% for(const appointment of user.appointments){ %>
            <li>
                clientId: <%=appointment.clientId>
                isCompleted: <%=appointment.isCompleted>
            </li>
        <% } %>
    </ul>
<%- include('footer') %>